<nav class="navbar  bg-info">
  <div class="container-fluid">
    <a class="navbar-brand text-light" routerLink="/home">OneCart</a>
    <form class="d-flex align-content-center" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success text-light border-light" type="submit">Search</button>
    </form>
    <form class="d-flex">
      <button class="btn btn-outline-light" type="submit">
        <i class="bi-cart-fill me-1"></i>
        Cart
        <span class="badge bg-light text-dark ms-1 rounded-pill">0</span>
      </button>

      <button class="btn btn-outline-light" routerLink="/user/create/product">

        User
        <span class="badge">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi  bi-person-badge-fill" viewBox="0 0 16 16">
  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm4.5 0a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zM8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6m5 2.755C12.146 12.825 10.623 12 8 12s-4.146.826-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1z"/>
</svg>
        </span>
      </button>
    </form>
  </div>
</nav>
