
<div class="container">
  <div class="row">
    <div class="col-md-6  justify-content-center">
      <h1>Welcome to Our Shop</h1>
      <p>
        Discover a world of amazing products. Join us now to explore
        and find your favorites everything.
      </p>

      <div class="row row-cols-2">
        <button class="btn btn-primary col gx-5" routerLink="/user/registration">Create Account</button>
        <button class="btn btn-secondary col gx-5" routerLink="/user/login">Log In to Shop</button>
      </div>

    </div>
    <div class="col-md-6">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active h-100">
            <img src="/assets/slider/1.png" class="d-block w-100">
          </div>

          <div class="carousel-item h-100">
            <img src="/assets/slider/4.jpeg" class="d-block w-100" width="1500">
          </div>

        </div>
      </div>

    </div>
  </div>
</div>


